# Ignore everything by default
*

# Allow directories
!bin/
!gh/
!ghostty/
!nvim/
!nvim-minimal
!raycast-scripts/
!neovim-pack/

# Allow specific files in the root
!zshrc
!DEV_GUIDE.md
!.gitignore

# Unignore contents of allowed directories
!bin/**
!gh/**
!ghostty/**
!nvim/**
!raycast-scripts/**
!neovim-pack/**

# Common excludes
**/*.swp
**/.DS_Store
**/node_modules/
**/.git/
